<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943281868973-deae447jhjl0720ps4uklfl0c5nr2olp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943281868973-deae447jhjl0720ps4uklfl0c5nr2olp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943281868973-3fdjhipkoaj7471795dvr3lqcpd0uol2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9lAcTNov-rnhrGCp7F8K5XK9D8EyQsU4</string>
	<key>GCM_SENDER_ID</key>
	<string>943281868973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindiii.convenienceApp</string>
	<key>PROJECT_ID</key>
	<string>convenience-2ddf7</string>
	<key>STORAGE_BUCKET</key>
	<string>convenience-2ddf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943281868973:ios:6a2268c7baf45054aaf624</string>
	<key>DATABASE_URL</key>
	<string>https://convenience-2ddf7.firebaseio.com</string>
</dict>
</plist>